In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\vinna\OneDrive\AI ML Projects\V Projects\Revenue_Recognition_Project\data\raw_data.csv")
df

,shipment_id,customer_type,shipment_mode,product_category,planned_date,revenue,delivered_date,is_delayed
0,SH1000,VIP,Road,Furniture,2025-06-07,13022.26,2025-06-12,0
1,SH1001,New,Road,Electronics,2025-03-23,3828.88,2025-03-23,0
2,SH1002,VIP,Road,Electronics,2025-12-14,20160.61,2025-12-11,0
3,SH1003,VIP,Road,Clothing,2025-08-10,12475.97,2025-08-18,0
4,SH1004,New,Air,Electronics,2025-06-10,11758.14,2025-06-08,0
...,...,...,...,...,...,...,...,...
995,SH1995,Returning,Air,Clothing,2025-10-10,32407.31,2025-10-09,0
996,SH1996,Returning,Road,Electronics,2025-12-19,23842.90,2025-12-13,0
997,SH1997,VIP,Sea,Electronics,2025-04-02,10306.87,2025-04-06,0
998,SH1998,VIP,Road,Furniture,2025-09-10,35385.18,2025-09-02,0
999,SH1999,New,Road,Furniture,2025-12-11,28266.77,2025-12-11,0

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
df['delivered_date'] = pd.to_datetime(df['delivered_date'], errors='coerce')
df['planned_date'] = pd.to_datetime(df['planned_date'], errors='coerce')
df['delay_days'] = (df['delivered_date'] - df['planned_date']).dt.days

In [13]:
df['delay_days']

0      5
1      0
2     -3
3      8
4     -2
      ..
995   -1
996   -6
997    4
998   -8
999    0
Name: delay_days, Length: 1000, dtype: int64

In [5]:
df['month'] = df['planned_date'].dt.month
df['day_of_week'] = df['planned_date'].dt.dayofweek

In [15]:
df['day_of_week']

0      5
1      6
2      6
3      6
4      1
      ..
995    4
996    4
997    2
998    2
999    3
Name: day_of_week, Length: 1000, dtype: int32

In [6]:
le = LabelEncoder()
df['customer_type_enc'] = le.fit_transform(df['customer_type'])
df['shipment_mode_enc'] = le.fit_transform(df['shipment_mode'])

In [7]:
features = ['delay_days', 'month', 'day_of_week', 'customer_type_enc', 'shipment_mode_enc']

In [8]:
df[features]

     delay_days  month  day_of_week  customer_type_enc  shipment_mode_enc
0             5      6            5                  2                  1
1             0      3            6                  0                  1
2            -3     12            6                  2                  1
3             8      8            6                  2                  1
4            -2      6            1                  0                  0
..          ...    ...          ...                ...                ...
995          -1     10            4                  1                  0
996          -6     12            4                  1                  1
997           4      4            2                  2                  2
998          -8      9            2                  2                  1
999           0     12            3                  0                  1

[1000 rows x 5 columns]

In [9]:
processed_df = df[features + ['is_delayed']]

In [10]:
processed_df

,delay_days,month,day_of_week,customer_type_enc,shipment_mode_enc,is_delayed
0,5,6,5,2,1,0
1,0,3,6,0,1,0
2,-3,12,6,2,1,0
3,8,8,6,2,1,0
4,-2,6,1,0,0,0
...,...,...,...,...,...,...
995,-1,10,4,1,0,0
996,-6,12,4,1,1,0
997,4,4,2,2,2,0
998,-8,9,2,2,1,0
999,0,12,3,0,1,0

In [11]:
path = r"C:\Users\vinna\OneDrive\AI ML Projects\V Projects\Revenue_Recognition_Project\data\processed_data.csv"
processed_df.to_csv(path, index=False)